@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Rye&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #885303c9;
    color: #ffffff;
}
/*-------NAVBAR---------*/
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(217, 230, 35, 0.575);
    backdrop-filter: blur(8px);
    padding: 18px;
    display: flex;
    justify-content: center;
    gap: 35px;
    z-index: 1000;
}
nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
nav a:hover{
    color: #ffcc00;
}
/*------HERO---------*/
.hero{
    height: 100vh;
    background: linear-gradient(rgba(90, 66, 66, 0.7),rgba(0,0,0,.7));
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-content h1{
    font-family: 'Rye', cursive;
    font-size: 6rem;
    color: #ffffff;
    text-shadow: 0 0 20px #1b103a;
}
.hero-content p{
    margin-top: 20px;
    font-size: 1.5rem;
    max-width: 800px;
}
.btn{
    margin-top: 30px;
    padding: 15px 40px;
    border-radius: 50px;
    background: #420f25;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 20px #91144a;
    border: none;
}
.btn:hover{
    transform: scale(1.1);
    background: #272005;
}
/*--------------------SECCIONES--------------*/
.section{
    padding: 100px 40px;
}
.title{
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 50px;
    color: #050402;
    font-family: 'Rye', cursive;
}
/*----------MENU------------*/
select{
    display: block;
    margin: 0 auto 40px auto;
    padding: 14px;
    width: 300px;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
}
.menu-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}
.card{
    background: #1f1111;
    border-radius: 25px;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 0 25px rgba(255,0,110,.3);
}
.card:hover{
    transform: translateY(-10px);
}
.card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.card-content{
    padding: 20px;
}
.card h3{
    color: #ffcc00;
    margin-bottom: 10px;
}
.price{
    color: #00f5d4;
    margin-top: 10px;
    font-size: 1.2rem;
}
.orden-btn{
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 15px;
    background: #ff006e;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}
.orden-btn:hover{
    background: #ffcc00;
    color: black;
}
/*----------GALERIA------------*/
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.gallery img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.3s;
}
.gallery img:hover{
    transform: scale(1.05);
}
/*-------NOSOTROS-----*/
.about{
    max-width: 900px;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8;
}
/*-----------CONTACTO----------*/
.contact-box{
    max-width: 700px;
    margin: auto;
    background: #1f1111;
    padding: 40px;
    border-radius: 25px;
}
.contact-box input,
.contact-box textarea{
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    color: #1f1111;
}
.contact-box button{
    width: 100%;
}
/*----CARRITO--------*/
#cart{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #ff006e;
    padding: 18px 25px;
    border-radius: 50px;
    box-shadow: 0 0 20px #ff006e;
    font-weight: bold;
    color: white;
}
/*-------FOOTER----------*/
footer{
    background: black;
    text-align: center;
    padding: 30px;
    color: #aaa;
}
