//----VARIABLES--/

//Colores/

$color-principal: #c47806c9;
$color-secundario: #ffcc00;
$color-fondo: #684510f1;
$color-card: #1f1111;
$color-acento: #ff006e;
$color-blanco: #ffffff;


//tipografias
$font-principal: 'Poppins', sans-serif;
$font-titulo: 'Rye', cursive;