@use "../utilities/variables" as *;
/*-----------CONTACTO----------*/
.contact-box{
    max-width: 700px;
    margin: auto;
    background: $color-card;
    padding: 40px;
    border-radius: 25px;
}
.contact-box input,
.contact-box textarea{
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    color: $color-card;
}
.contact-box button{
    width: 100%;
}